<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{%static 'css/style.css'%}" rel="stylesheet">
        <title>Table</title>
    </head>

    <body>
        <h1>Reservations</h1>

        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                    <tr>
                        <th>Rental object</th>
                        <th>Reservation ID</th>
                        <th>Checkin</th>
                        <th>Checkout</th>
                        <th>Previous Reservation, ID</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in dataSET %}
                    <tr>
                        <td>{{row.rental.name}}</td>
                        <td>{{row.id}}</td>
                        <td>{{row.checkin}}</td>
                        <td>{{row.checkout}}</td>
                        <td>{{row.id_previos}}</td>
                    </tr>
                    {% endfor %}
                <tbody>
            </table>
        </div>
    </body>
</html>